/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* ///////////////////////// */
body {
  color: white;
}

/* ///////////////////////// */
/* mobile style */

/* .section {
  padding-top: 64px;
  padding-bottom: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
} */

/* /* Tablet style */
/* @media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
} */

.container {
  outline: 2px solid red;
}
/* Tablet style */
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 0;
    background-color: black;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop style */
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
    outline: 2px solid red;
  }
  .main-hotel-conteiner {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .hotel-section {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .hotel-section {
    padding-top: 44px;
    padding-bottom: 60px;
  }
}

.hotel-discp {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  margin-bottom: 80px;
}

.title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;

  margin-right: 32px;
}
.txt {
  width: 362px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #f7f7f7;
}

@media screen and (max-width: 1439px) {
}
@media screen and (min-width: 768px) {
  .gallary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .gallary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1439px) {
  .left-gallary,
  .right-gallary {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .left-gallary,
  .right-gallary {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-list {
    position: absolute;
    top: 0;
    right: 32px;
  }
}

@media screen and (max-width: 1439px) {
}
.btn-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
}

.btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: transparent;
  color: #f7f7f7;
  padding: 9px 24px;
  min-width: 170px;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
}
